<div>
    <i title="Transparenz einstellen" ng-click="toggleShowDialog()"
       class="toggle-layer-conf glyphicon glyphicon-adjust pointer {{ showDialog ? 'active' : '' }}">
    </i>
    <dialog ng-if="showDialog" class="layer-conf slide-top" ng-blur="toggleShowDialog()">
        <header>
            {{ title }}
            <button title="Schließen" class="glyphicon glyphicon-remove pointer"
                    ng-click="toggleShowDialog()" style="margin-left: auto;">
            </button>
        </header>
        <div class="transparency-slider">
            <label for="transparency-slider">
                Transparenz: {{ transparency() * 100 | number:0 }}%
            </label>
            <input id="transparency-slider" type="range" min="0" max="1" step="0.01"
                   ng-model="transparency" ng-model-options="{getterSetter: true}"/>
        </div>
    </dialog>
</div>
