<button ng-click="drawPoint()"
        ng-disabled="!geometriesConfig.point.enabled"
        class="draw-button draw-point"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_DRAW_POINT' | translate }}"
        tooltip-placement="{{ pointTooltipPlacement }}"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>
<button ng-click="drawLine()"
        ng-disabled="!geometriesConfig.line.enabled"
        class="draw-button draw-line"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_DRAW_LINE' | translate }}"
        tooltip-placement="{{ lineTooltipPlacement }}"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>
<button ng-click="drawPolygon()"
        ng-disabled="!geometriesConfig.polygon.enabled"
        class="draw-button draw-polygon"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_DRAW_POLYGON' | translate }}"
        tooltip-placement="{{ polygonTooltipPlacement }}"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>
<button ng-click="modify()"
        class="draw-button draw-modify"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_MODIFY' | translate }}"
        tooltip-placement="{{ polygonTooltipPlacement }}"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>
<button ng-click="remove()"
        class="draw-button draw-remove"
        ng-disable="selectedFeature === undefined"
        uib-tooltip="{{ 'anol.draw.TOOLTIP_REMOVE' | translate }}"
        tooltip-placement="{{ polygonTooltipPlacement }}"
        tooltip-popup-delay="{{ tooltipDelay }}"
        tooltip-enable="{{ tooltipEnable }}"
        tooltip-trigger="mouseenter">
</button>
