<div class="time-series">
    <!-- blue while the layer polls for the newest reading, plain once a fixed
         window is picked and polling stops -->
    <button title="{{ (isLatest() ? 'anol.timeseries.SET_TIME_LIVE' : 'anol.timeseries.SET_TIME_FIXED') | translate }}"
            ng-click="openDialog()"
            class="toggle-layer-conf glyphicon glyphicon-calendar pointer"
            ng-style="{'color': (isLatest() ? '#337ab7' : 'inherit')}">
    </button>
    <span class="time-series-label pointer" ng-click="openDialog()">
        {{ timeLabel() }}
    </span>
</div>
