<div ng-show="isVisible">
    <div class="anol-popup {{ openingDirection }} {{ class }}"
         ng-mousedown="makeDraggable($event)"
         ng-class="{ 'hide-for-mobile': altMobileFullscreen }">
        <span class="anol-popup-closer glyphicon glyphicon-remove" ng-click="close()" ng-if="!sticky" ng-mousedown="$event.stopPropagation();"></span>
        <div class="anol-popup-content">
            <ng-transclude></ng-transclude>
        </div>
    </div>
    <div ng-if="altMobileFullscreen">
        <div class="anol-popup anol-popup-mobile {{ class }}">
            <span class="anol-popup-closer glyphicon glyphicon-remove" ng-click="close()" ng-mousedown="$event.stopPropagation();"></span>
            <div class="anol-popup-content">
                <ng-transclude></ng-transclude>
            </div>
        </div>
    </div>
</div>
